<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section logo-section">
                <img src="./images/logo-puerto-28.png" alt="Puerto 28" class="footer-logo">
                    <p class="footer-description">Puerto 28 es una cevichería que ofrece frescura y sabor en un ambiente familiar.</p>
            </div>
            <div class="footer-section social-section">
                <h4>Redes Sociales</h4>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=61584571920674" target="_blank" aria-label="Facebook" class="facebook-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@puerto28ica?lang=es" target="_blank" aria-label="TikTok" class="tiktok-icon"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-dark-text">© 2026 Puerto 28. Todos los derechos reservados.</p>
            <p class="footer-created-by">Sitio web creado por <a href="https://alonsoleandro.me" target="_blank" class="creator-name">Alonso Leandro</a></p>
        </div>
    </div>
</footer>